@media (max-width: 767px) {    
    body {
        min-width: auto;
    }    
    .Hero{
        height: 85vh;
    }
    .hero {
        height: 80vh;
    }
    nav {
        height: 6vh;
    }
    .grid {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100%;
        color: white;
    }

    .nick {
        font-size: 32px;
        align-self: center;
        justify-self: center;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .title {
        font-size: 14px;
        align-self: center;
        margin-top: 45px;
        justify-self: center;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .myimg {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
        justify-self: center;
    }
    .navButton {
        font-size: 12px;
    }

    #featured {
        font-size: 12px;
    }
    #featured h1 {
        font-size: 20px;
    }
    .card {
        flex-direction: column;
        font-size: 12px;
    }
    .projText {
        width: 100%;
    }
    .picture{
        width: 100%;
    }
    .projText h1 {
        font-size: 18px;
    }
    .aboutGrid {
        display: grid;
        width: 80%;
        height: 90%;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    .skills {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-bottom: 5px;
    }
    .bio {
        grid-column: 2/7;
        grid-row: 1/2;
        font-size: 12px;
        margin: 0 0 5px 5px;
    }
    .bio h1 {
        font-size: 20px;
    }
    .image{
        grid-column: 1/6;
        grid-row: 2/3;
    }
    .socials{
        grid-column: 6/7;
        grid-row: 2/3;
        align-content: center;
        gap: 20px;
    }
    #ContactMe {
        height: 70vh;
        padding: 0;
    }
    .contactFlex {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 80%;
    }
    .socials2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        height: 30%;
        gap: 10px;
        margin-bottom: 10px;
    }
    .contactForm {
        font-size: 20px;
        width: 100%;
        height: 80%;
    }
    #ContactFormArea input:not(#submitBtn):not(#MessageArea),
    #MessageArea {
        font-size: 12px;
    }
    #submitBtn {
        font-size: 14px;
    }
    footer {
        font-size: 10px;
    }
    
}
